# Dependencies
node_modules/

# Environment variables
.env
*.local

# Production builds
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*

# Editor/System directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?